PORT=5050
DB_CONNECTION_STRING=mongodb://127.0.0.1:27017/kirin
JWT_ACCESS_EXPIRES_IN=7200000
JWT_REFRESH_EXPIRES_IN=604800000
JWT_ACCESS_SECRET=AshotVika
JWT_REFRESH_SECRET=TigranDavid
MAIL_PASSWORD=rZfreMDzUee2r3cpNhLJ
MAIL_USERNAME=tigran93931@mail.ru
MAIL_HOST=tigran93931@mail.ru
